language: java
jdk:
  - oraclejdk11
env:
  matrix:
    - ELASTICSEARCH_VERSION=7.6.1
    - ELASTICSEARCH_VERSION=7.6.0
    - ELASTICSEARCH_VERSION=7.5.2
    - ELASTICSEARCH_VERSION=7.5.1
    - ELASTICSEARCH_VERSION=7.5.0
    - ELASTICSEARCH_VERSION=7.4.2
    - ELASTICSEARCH_VERSION=7.4.1
    - ELASTICSEARCH_VERSION=7.4.0

script: "mvn clean install -Delasticsearch.version=${ELASTICSEARCH_VERSION}"

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file_glob: true
  file: target/releases/*.zip
  skip_cleanup: true
  on:
    tags: true